@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
  background-color: #292c6d;
  font-family: "Indie Flower", cursive;
  padding: 50px;
  color: #faedf0;
}

h1,
h2,
h3 {
  text-align: center;
}

h2 {
  margin: 20px auto;
  color: #ec255a;
  max-width: 5%;
  padding: 5px 10px;
  background-color: #faedf0;
  margin-bottom: 20px;
  cursor: pointer;
}

.box-parent {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

button {
  display: block;
  margin: 0 auto;
  padding: 5px;
}

.game-size {
  text-align: center;
  width: 70px;
  height: 25px;
  display: block;
  margin: 5px auto;
  padding: 2px 11px 2px 25px;
  font-size: 18px;
}

#board {
  display: grid;
  margin: 0 auto;
  width: fit-content;
}

.cell {
  border: 1px solid #ec255a;
  min-width: 60px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  cursor: pointer;
  color: #faedf0;
}
